body {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    background: #f5f5f5;
    margin: 0;
}

header > h1 {
    letter-spacing: 2pt;
    text-align: center;
    margin-top: 40px;
}

footer {
    padding: 40px;
    background: #ddd;
    text-align: center;
    padding-bottom: 20px;
}

footer > a {
    font-size: 23pt;
    margin: 10px 20px;
    color: #555;
    transition: .2s;
    text-decoration: none;
}

footer > a:hover {
    font-size: 26pt;
    color: #555;
    text-decoration: none;
}

footer > h4 {
    font-weight: normal;
}

#about-me {
    margin: 80px 0;
    margin-left: 200px;
}

#about-me > p {
    font-weight: lighter;
    font-size: 16pt;
    width: 800px;
    margin: 0;
}

#about-me > h2 {
    margin: 0;
}

#feed {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    margin: 0 200px;
    grid-gap: 8px;
}

#feed > div > div {
    margin: 8px 0;
}

#nav-btn > ul {
    display: flex;
    margin: 30px 0;
    list-style: none;
    padding: 0 600px;
    justify-content: space-around;
}

#nav-btn > ul > li {
    padding: 0 40px;
}

#nav-btn > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

#video {
    overflow: auto;
    white-space: nowrap;
}

.column1,.column2,.column3 {
    display: flex;
    flex-direction: column;
}

.pic1,.pic2,.pic3,.pic4,.pic5,.pic6,.pic7,.pic8,.pic9 {
    overflow: hidden;
}

.pic1, .pic6, .pic8, .pic9 {
    width: 300px;
    height: 235px;
}

.pic3, .pic4, .pic7 {
    width: 300px;
    height: 270px;
}

.title {
    text-align: center;
    margin-top: 80px;
}